body {background-color: powderblue;}
h1   {color: red;}
p    {color: red;}
button{color:red;background-color: A4A0A0}
#c1{color:black;background-color: A4A0A0}
#c2{color:black;background-color: A4A0A0}
#cr1{color:black;background-color: A4A0A0; text-align: center}
#cr2{color:black;background-color: A4A0A0; text-align: center}
#g1{color:black;background-color: A4A0A0; text-align: center}
#g2{color:black;background-color: A4A0A0; text-align: center}
#totalCredits{color:red;}
#gpa{color:red;}
